<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Admin</title>
  </head>
  <body>
    <!-- header -->
    <header class="bg-dark text-light fixed-top">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarTogglerDemo01"
              aria-controls="navbarTogglerDemo01"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="/">MY CV</a>
              <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
              <ul class="navbar-nav">
                <li class="nav-item btn-login">
                  <a class="nav-link active" href="/login">Đăng Nhập</a>
                </li>
                <div class="btn-group btn-user">
                  <a
                    class="nav-link active dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    id="btn-username"
                  >
                    Action
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="/my-document"
                        >Quản lý hồ sơ</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="/about">Giới thiệu</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" id="btn-logout" href="#"
                        >Đăng xuất</a
                      >
                    </li>
                  </ul>
                </div>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <!-- offcanvas -->
    <div
      class="offcanvas offcanvas-start sidebar-nav bg-dark"
      tabindex="-1"
      id="sidebar"
    >
      <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
          <ul class="navbar-nav">
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3">
                CORE
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3 active">
                <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                <span>Thống kê</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-people-fill"></i></span>
                <span>Tài khoản</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"
                  ><i class="bi bi-person-badge-fill"></i
                ></span>
                <span>Post ứng viên</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-clipboard-check"></i></span>
                <span>Post tuyển dụng</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Interface
              </div>
            </li>
            <li>
              <a
                class="nav-link px-3 sidebar-link"
                data-bs-toggle="collapse"
                href="#layouts"
              >
                <span class="me-2"><i class="bi bi-layout-split"></i></span>
                <span>Layouts</span>
                <span class="ms-auto">
                  <span class="right-icon">
                    <i class="bi bi-chevron-down"></i>
                  </span>
                </span>
              </a>
              <div class="collapse" id="layouts">
                <ul class="navbar-nav ps-3">
                  <li>
                    <a href="#" class="nav-link px-3">
                      <span class="me-2"
                        ><i class="bi bi-speedometer2"></i
                      ></span>
                      <span>Dashboard</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-book-fill"></i></span>
                <span>Pages</span>
              </a>
            </li>
            <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
            <li>
              <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                Addons
              </div>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-graph-up"></i></span>
                <span>Charts</span>
              </a>
            </li>
            <li>
              <a href="#" class="nav-link px-3">
                <span class="me-2"><i class="bi bi-table"></i></span>
                <span>Tables</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- offcanvas -->
    <main class="mt-5 pt-3">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <h4>Thống kê</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <div class="card bg-primary text-white h-100">
              <div class="card-body py-5" id="alluser">15 Tài khoản</div>
              <div class="card-footer d-flex">
                Đăng ký gần đây
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-warning text-dark h-100">
              <div class="card-body py-5" id="listcv">50 Bài</div>
              <div class="card-footer d-flex">
                Tin ứng tuyển
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-success text-white h-100">
              <div class="card-body py-5" id="listtd">10 Bài</div>
              <div class="card-footer d-flex">
                Tin tuyển dụng
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <div class="card bg-danger text-white h-100">
              <div class="card-body py-5" id="allformcv">5 Mẫu</div>
              <div class="card-footer d-flex">
                Mẫu CV
                <span class="ms-auto">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-3">
            <div class="card">
              <div class="card-header bg-warning text-dark">
                <span><i class="bi bi-table me-2"></i></span> Tin ứng tuyển
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="table-cv"
                    class="table table-striped"
                    style="width: 100%"
                  >
                    <thead>
                      <tr class="list-header">
                        <td>Họ tên</td>
                        <td>Vị trí ứng tuyển</td>
                        <td>Địa điểm</td>
                        <td>Tên CV</td>
                        <td>Tính năng</td>
                      </tr>
                    </thead>
                    <tbody id="tbody-cv"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="card">
              <div class="card-header bg-success text-white">
                <span><i class="bi bi-table me-2"></i></span> Tin tuyển dụng
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    id="table-td"
                    class="table table-striped"
                    style="width: 100%"
                  >
                    <thead>
                      <tr class="list-header">
                        <td>Tên công ty</td>
                        <td>Địa điểm</td>
                        <td>Vị trí ứng tuyển</td>
                        <td>Lương</td>
                        <td>Tính năng</td>
                      </tr>
                    </thead>
                    <tbody id="tbody-td"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/admin.js"></script>
  </body>
</html>
