/* icon */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
header {
  border-bottom: 1px solid #384954;
}
.btn-user {
  display: none;
  cursor: pointer;
}
#nav-searchCV,
#nav-postTD {
  display: none;
}
#btn-logout {
  cursor: pointer;
}
.step-build-cv h2 {
  width: 500px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.icon-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  line-height: 48px;
  text-align: center;
}
.icon-wrapper span {
  font-size: 1.6rem;
  font-weight: 700;
}
.text {
  font-size: 1rem;
  line-height: 1.4rem;
}
.step-build-cv img {
  width: 100px;
  text-align: center;
}

/* Back to top */
#btn-back-to-top {
  display: inline-block;
  background-color: #fff;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btn-back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 35px;
  color: #343a40;
}
#btn-back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}
#btn-back-to-top:hover::after {
  color: #fff;
}
#btn-back-to-top:active {
  background-color: #555;
}
#btn-back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* post cv */
.banner-postCV {
  padding-bottom: 100px;
  border-bottom: 1px dashed #384954;
}
.banner-postCV a {
  text-decoration: none;
}
.editor-cv {
  width: 75%;
  padding: 20px;
  transition: all 0.25s;
  border: 2px dashed #384954;
}

.post-cv h6 {
  text-transform: uppercase;
  font-size: 20px;
}

.post-cv .group-form-cv {
  width: 90%;
}

/*  */
.cv figure {
  position: relative;
  float: left;
  overflow: hidden;
  /* min-width: 320px;
  max-width: 480px; */
  max-height: 360px;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}
.cv figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
.cv figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cv figure figcaption::before,
.cv figure figcaption::after {
  pointer-events: none;
}

.cv figure figcaption,
.cv figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cv figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.cv figure h2 {
  word-spacing: -0.15em;
  font-weight: 400;
  font-size: 1.1em;
}

.cv figure h2 span {
  font-weight: 800;
}

.cv figure h2,
.cv figure p {
  margin: 0;
}

.cv figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

.cv figure.effect-apollo {
  background: #3498db;
}

.cv figure.effect-apollo img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}

.cv figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: "";
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, -100%, 0);
}

.cv figure.effect-apollo p {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  border-right: 4px solid #fff;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

.cv figure.effect-apollo h2 {
  text-align: left;
}

.cv figure.effect-apollo:hover img {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.cv figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, 100%, 0);
}

.cv figure.effect-apollo:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/*  */
.card-job {
  position: relative;
  border-bottom: 1px solid #d1d1d1;
  padding: 10px;
  transition: all 0.25s;
  cursor: pointer;
  font-size: 13px;
}
.card-job:hover {
  background: #212529;
}

.eye-cv {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
}

/* admin */

:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}

.nicEdit-panel {
  color: #000;
}
.nicEdit-pane {
  color: #000;
}

/* my document */

.card-cv {
  max-height: 300px;
  padding: auto;
  text-align: center;
  background: #242625;
  border-radius: 10px;
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
}
.card__container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  color: white;
}
.card__content {
  height: 95%;
  background: #191a19;
  margin: 10px auto;
  border-radius: 5px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 16px 16px 44px #0a0a0a, -16px -16px 44px #282a28;
  transition: 0.3s all ease-in-out;
}
.card__content:hover {
  margin-top: -10px;
}
.card__header {
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px auto;
}

.top-td {
  border-bottom: 1px solid #384954;
  padding-bottom: 10px;
}

.modal-td {
  border: #000 solid 10px;
}
